<div class="itemsBlock">
    <div ng-show="allItems">
        <div class="headItemsBlock">
            <h1>Food stuff<input class="addItemButton" type="button" ng-click="addItem()" value="Add Item"> </h1>
        </div>

        <div class="item" ng-repeat="a in myWelcome2 | filter: sortTovars track by $index" ng-click="chooseItem(a.id,a.name,a.price,$index,a.src)">
           <img src="../img/{{a.src}}" width="50px" height="50px">
            <h3>{{a.name}}</h3>
            <h3>{{a.price | currency}}</h3>
        </div>
    </div>
    
    <div ng-show="statusItem" class="choosenItem">
        <div class="headItemsBlock">
            <h1>{{choosenItemName}}</h1>
        </div>
        <div>
            <h2>{{choosenItemText}}</h2>
            <h2>Price: {{choosenItemPrice | currency}}</h2>
            <img src="../img/{{choosenItemSrc}}" width="100px" height="50px">
            <input type="button" value="edit" ng-click="editItem()">
            <input type="button" value="delete" ng-click="deleteItem()">
            <input type="button" ng-click="backToAllItems()" value="Back">
        </div>
        <div ng-show="editItemStatus">
            <h2>Name :</h2><input type="text" ng-model="newNameOfItem"><br>
            <h2>Price :</h2><input type="text" ng-model="newPriceOfItem"><br>
            <h2>About Item :</h2><textarea ng-model="newInfoOfItem"></textarea><br>
            <img src="../img/{{newItemSrc}}" width="100px" height="50px"> 
            <label class="uploadbutton" ng-click="changeSatusImgUpload()">
            <div class="button">Upload</div>
            <input type="file" file-model="myFile" >
            </label><br>
            <input type="button" ng-click="changeItemEdit()" value="Change">
        </div>
    </div>
    <add-item-block></add-item-block>
</div>
