<!--навігаційна панель-->
<nav class='animated flipInX menu'>
    <ul>
        <li>
            <a ng-click="chooseHome()" >Home</a>
        </li>
        <li>
            <input type="text" ng-model="sortTovars" placeholder="filter">
        </li>
        <li>
            <a ng-click="chooseContact()" >Contact</a>
        </li>
         <li>
            <a ng-click="chooseMail()" >Send Mail</a>
        </li>
         <li>
            <a ng-click="chooseProfile()" >Profile</a>
        </li>
    </ul>
</nav>
