<div class="profileField" ng-show="profileStatus">
    <h1>Wellcome {{nameUserTable}}</h1>
    <center>
        <table border="1" ng-show="profileStatusTable">
            <tr>
                <th>Category</th>
                <th>Text</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{nameUserTable}}</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>{{snameUserTable}}</td>
            </tr>
            <tr>
                <td>B.date</td>
                <td>{{bdateUserTable}}</td>
            </tr>
            <tr>
                <td>About your self</td>
                <td>{{aboutUserTable}}</td>
            </tr>
        </table>
    </center>
</div>
