<div>
    <h1>Registration :</h1>
    <h3>Login <input type="text" ng-model="newLogin"></h3>
    <h3>Password <input type="text" ng-model="newPassword"></h3>
    <h3>Mail <input type="text" ng-model="newMail"></h3>
<!--
    <h3>Name <input type="text" ng-model="newName"></h3>
    <h3>Surname <input type="text" ng-model="newSname"></h3>
    <h3>B.Date <input type="text" ng-model="newBdate"></h3>
    <h3>About <input type="text" ng-model="newAbout"></h3>
-->
    <h3>Phone <input type="text" ng-model="newPhone" placeholder="+380681234567"><input type="button" ng-click="verification()" value="Verificate"></h3>
    <h3>Ver.Code <input type="text" ng-model="newVerCode"></h3>
    <h3><input type="button" ng-click="registration()" value="Register"></h3>
</div>