<div class="topNavi">
        <div id="block-for-slider" border="1px">
            <div id="viewport">
                <ul id="slidewrapper">
                    <li class="slide"><img src="../img/4.jpg" alt="1" class="slide-img"></li>
                    <li class="slide"><img src="../img/5.jpg" alt="2" class="slide-img"></li>
                    <li class="slide"><img src="../img/6.jpg" alt="3" class="slide-img"></li>
                </ul>
                <div id="prev-next-btns">
                    <div id="prev-btn"></div>
                    <div id="next-btn"></div>
                </div>
                <ul id="nav-btns">
                    <li class="slide-nav-btn"></li>
                    <li class="slide-nav-btn"></li>
                    <li class="slide-nav-btn"></li>
                </ul>
            </div>
        </div>
</div>
